includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/

    # Level 9 is the highest level
    level: 5

    ignoreErrors:
        # Ignore some errors if necessary
        # - '#Unsafe usage of new static.*#'

    excludePaths:
        - ./*/*/FileToBeExcluded.php
